
section.login_from-area {
    position: relative;
    padding: 60px 0;
}


.login_from-conatiner {
    width: 50%;
    margin: 0 auto;
}

section.login_from-area {
    position: relative;
    padding: 60px 0;
}

.login_from-conatiner_box {
    background-color: #001f31;
    padding: 37px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: center;
    align-items: center;
}
.login_from {
    width: 100%;
}

.login_form-group {
    width: 100%;
    position: relative;
}
input.login_form-control {
    width: 100%;
    height: 48px;
    margin-bottom: 21px;
    outline: none;
    border: unset;
    box-shadow: unset;
    padding-left: 25px;
    border-radius: 30px;
    background-color: #f2f4fe;
}
label.form-check-label {
    margin-left: 12px;
    font-size: 16px;
    color: #fff;
}
.login_form-btn button {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #011222;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 25px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease;
    background-color: #011222;
    margin-top: 20px;
    box-shadow: 0px 0px 20px 5px #ffffff14;
}
.login_form-btn button:hover{
    background: #EE3E08;
    color: #fff;
    border: 2px solid #EE3E08;
}
.login_from p {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--bs-white);
}

.login_from p a {
    color: #fe7227;
}
.login_form-row {
    display: flex;
    gap: 8px;
}

@media only screen and (max-width: 991px) {
    .login_from-conatiner{
       width: 100%;
    }  
}

@media only screen and (max-width: 576px) {
    .login_form-row {
        flex-wrap: wrap;
    } 
    .login_from-conatiner_box {
        padding: 37px 20px;
     
    }
    
}