.about_section-area{
    padding: 60px 0 0;
}
.about_img img {
    width: 100%;
    max-width: 488px;
    object-fit: fill;
}

.about_content span {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    color: #001120;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.about_content h2 {
    font-size: 31px;
    font-weight: 600;
    color: #000;
}

.about_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.about-item {
    margin-bottom: 25px;
}
.point{
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
    line-height: 100px;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    color: var(--blackColor);
    border: 1px solid rgba(207, 217, 249, .5);
    font-size: 30px;
    font-weight: 700;
}

.about-item h3 {
    font-size: 16px;
    margin-bottom: 12px;
}
.about-item p{
    font-size: 16px;
    color: #000000;
    margin: 15px 0px;
    font-weight: 400;
    line-height: 24px;
     display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}