
.blog_single-pages {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.blog_single-pages h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 32px;
}


.blog_search-pages .form-group {
    position: relative;
}

/* .blog_search-pages .form-control {
    background-color: #f2f4fe;
} */

.blog_search-pages button {
    top: 35%;
    right: 20px;
    border: unset;
    font-size: 20px;
    box-shadow: unset;
    outline: none;
    position: absolute;
    background-color: unset;
    transform: translateY(-50%);
 
}
.blog_search-pages button span{
    color:#001f31 !important;
}

.blog_post-pages {
    margin-top: 20px;
}

.blog_post-inner-col {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid #cfd9f9;
}
.blog_post-inner-col:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.blog_img {
    flex-shrink: 0;
    margin-right: 15px;
}

.blog_img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.blog_post-content {
    flex-grow: 1;
}

.blog_post-content h4 {
    font-size: 18px;
    font-weight: 600;
    color: #001f31;
    line-height: 28px;
    margin: 8px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.blog-meta {
    margin-bottom: 10px;
    color: #001f31;
    font-size: 14px;
}

.blog-meta .meta-item {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #001f31;
}

.blog_search-pages ul li {
    margin-bottom: 18px;
}

.blog_search-pages ul li a {
    font-size: 16px;
    color: #001f31;
    font-weight: 500;
    line-height: 24px;
}

.blog_search-pages ul li a:hover {
    text-decoration: underline !important;
}
